@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 style="line-height: 1.5em; margin-top: 30px;" class="">Events! <br>
       For Eventful People</h1>
</div>


<div style="text-align: center; margin-top: 30px;" class="d-grid gap-2">
  <a asp-action="Login" asp-controller="Auth"><button style="border: 4px solid black; border-radius: 20px" border-radius: 20px" class="btn btn-lg btn-primary" type="button"> Login</button></a>

</div>

<div style="text-align: center; margin-top: 30px;" class="d-grid gap-2">
  <a asp-action="Register" asp-controller="Auth"><button style="border: 4px solid black; border-radius: 20px" class="btn btn-lg btn-primary" type="button"> Register</button></a>
  
</div>



<div style="text-align: center; margin-top: 30px;" class="d-grid gap-2">
  <a asp-action="Index" asp-controller="Events"><button style="border: 4px solid black; border-radius: 20px" border-radius: 20px" class="btn btn-lg btn-primary" type="button"> See Da Events</button></a>

</div>


