@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 style="line-height: 1.5em; margin-top: 30px;" class="">Events! <br>
       For Eventful People</h1>
</div>



<div style="text-align: center; margin-top: 60px;" class="d-grid gap-2">
  <a asp-action="Index" asp-controller="Events"><button class="btn btn-lg btn-primary" type="button"> See Da Events</button></a>
  
</div>


